@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('https://i.ibb.co/5xbVZGx/open-comic-book-pages-heroes-close-up-background-marvel-dc-comics-high-quality-photo-188517430-1.jpg');
  font-family: 'Bangers', sans-serif;
}

.loginWrapper {
  display: flex;
  justify-content: center;
}