nav {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

nav > h2 {
    margin-left: 1em;
    margin-top: .3em;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav ul li {
    margin: 0 1.3em;
}